[MASTER]
# Add the current directory and the specific week directory to the path
# so Pylint can find 'chunker'
init-hook="import sys; sys.path.append('.'); sys.path.append('./app/week2-rag/day2')"
ignored-modules=torch

[BASIC]
# Allow hyphens in module/directory names such as week2-rag
module-naming-style=any

# Allow snake_case, single letters (w, b, x), and ML matrix naming conventions (X_train, X_test)
const-naming-style=any
